    <div class="row">
        <div class="col-xs-12">
			{% for cat,message in app.session.getAllFlashes() %}
				
				{# $msg = is_array($message) ? implode(PHP_EOL, $message) : $message;#}
				{% set class = "info" %}
				{% if cat == "error" %}
					{% set class="danger" %}
				{% endif %}
				<div class="alert alert-{{class}}">{{cat}}: {{message}}</div>';
			{% endfor %}

        </div>
    </div>