

/*



style guide

*/




$color-link: #ae3118;
$color-link-hover: #b91100;

$color-border: #4b1700;

$color-text: #CCC;

$color-bg: #2d2a26;



$font-text:  "Raleway", "Open Sans", sans-serif;

$font-title: "Dosis", "Open Sans", serif;

$font-special: "Oswald", "Raleway", sans-serif;

